# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Python
*.py     text diff=python
*.ipynb  text

# Javascript/Web
*.js     text
*.json   text
*.css    text
*.scss   text
*.html   text
*.md     text markdown

# Graphics
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
